/* top up page */
.top_up_frame{

  /* border:1px solid black; */
  overflow: hidden;
  padding:10px;
  border-radius: 10px;
}

/* transaction page */
/* order transaction */
.order_transaction_info{
  white-space: nowrap;
  width:60%;
    height:120px;
  /* border:1px solid black; */
  float:left;
  overflow: hidden;
   text-overflow: ellipsis;
   padding: 20px 0 0 30px;
   border-bottom: 1px solid grey;
}

.order_transaction_price{
  border-bottom: 1px solid grey;
    height:120px;
   padding: 20px 0 10px 250px;
   width:40%;
    float:left;
    /* border:1px solid black; */

}

/* top up and refund  */
.top_up_info{
  white-space: nowrap;
  width:60%;
    height:110px;
  /* border:1px solid black; */
  float:left;
  overflow: hidden;
   text-overflow: ellipsis;
   padding: 30px 0 0 20px;
   border-bottom: 1px solid grey;
}

.top_up_price{
  border-bottom: 1px solid grey;
    height:110px;
   padding: 10px 0 10px 250px;
   width:40%;
    float:left;
    /* border:1px solid black; */

}

#myTabContent{
  background-color: white;
  padding:20px;
  overflow: hidden;
}
