body{
  font-family: 'Righteous', cursive;
}

.logged-in-info{
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.logged-in-info p{
  font-size: 25px;
}

.logged-in-info p a{
  font-size: 25px;
  color: black;
  font-weight: 400;
}

/* try new sidebar */
.wrapper{
  float: left;
}

.sidebar {
  width:17%;
  background-color: #0f0f0f;
  height: 100%;
  overflow:auto;
  position:fixed;
}

.sidebar-header{
  padding-top: 30px;
  padding-left: 20px;
  color: #fff
}

.inside-sidebar{
  margin-top: 100px;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
  display:block;
  padding-top:50px;
  padding-bottom:40px;
}

.sidebar a.active {
  background-color:grey;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #d8d8d8;
  color: black;
}

/* end of sidebar */



/* This is for view transaction */

.trans-container{
  float: left;
  margin-left: 420px;
}

.trans-table{
  width: 1200px;
  float: left;
  margin-left: 60px;
  padding-top: 10px;
}

.trans-nav{
  height: 110px;
  padding-top: 50px;
}

.dropbtn{
  float: left;
  margin-left: 60px;
}

#dropdownMenuButton{
  width: 230px;
}

.searchbar {
  float: right;

}

.searchbar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.searchbar button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.searchbar button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .searchbar {
    float: none;
  }
  .searchbar input[type=text], .searchbar button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .searchbar input[type=text] {
    border: 1px solid #ccc;
  }
}

/* End of view transaction */


/* this is the search bar in finance_home.php */
.search-bar{
  float: left;
  text-align: center;
  position: relative;
  top: 200px;
  left: 680px;
  width: 800px;
  line-height: 100px;
}

.search-bar label{
  font-family: fantasy;
  font-size: 50px;
}

/*This is the css for profile */
.out-container{
  height: 700px;
}

.row{
  padding-top: 80px;
  height: 100%;
}

.panel{
  width: 100%;
}

.panel-body img{
  float: left;
  height: 400px;
  width: 400px;
  margin-top: 20px;
  border-radius: 50%;
}

.profile-container{
  float: left;
  margin-top: 20px;
  padding-left: 100px;
}

.info-container{
  float: left;
  margin-left: 200px;
  margin-top: 50px;
  width: 400px;
}

.info-container p{
  font-style: oblique;
  font-size: 25px;
  font-weight: bold;
  word-spacing: 2px;
}

.re-button{
  float: left;
}

.re-button button{
  margin-left: 80px;
}

.report-box{
  float: left;
  width: 1300px;
  height: 600px;
  margin-left: 450px;
  margin-top: 160px;
}

.report-title{
  padding-top: 20px;
  float: left;
}

.report-title h1{
  font-size: 80px;
  float: left;

}

.report-title a{
  float: right;
  margin-top: 30px;
  margin-left: 250px;
  color: red;
}

.report-info{
  margin-top: 20px;
  padding-top: 40px;
  float: left;
}

.report-info p{
  font-size: 30px;

}

.report-button{
  height: 200px;
  margin-top: 20px;
  padding-left: 30px;
  float: left;
}

.choose-date input{
  width: 250px;
}

.choose-date select{
  width: 400px;
}

.btn1 a{
  color: white;
}

.submit-button{
  margin-top: 60px;
  margin-left: 380px;
}

.submit-button input{
  width: 450px;
}


/* Invoice order */
.top_info{
  text-align: right;
  margin:10px;
}

td{
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
